*{
    color: white;
}

body{
    background-color: #333333;
}

#header img{
    max-width: 5em;
    width: 15%;
    float: left;
}

#header h1{
    vertical-align: middle;
    float: left;
}

form{
    text-align:center;
}

input{
    width: 85%;
    height: 5em;
    border: 2px solid white;
    margin-bottom: 10px;
}
